* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: justify;
}

h1 {
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 24px;
}

.notif-button {
  cursor: pointer;
}

.navbar-notification {
  padding: 10px;
}

.table {
  padding: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  color: #000000;
  text-align: center;
}

.navbar, 
.footer {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}